Task 1: 

Read the CSV file in Pandas and create a DataFrame named Grc_df. 
What is the number of rows and columns in Grc_df? 
Print the first 10 and last 10 rows of Grc_df

In [2]:
# Her er de n√∏dvendige importene for oppgavene
import pandas as pd

In [3]:
# deloppgave 1, del 1/2: 
# What is the number of rows and columns in Grc_df?

# Steg 1: Leser CSV filen inn i Pandas DataFrame
Grc_df = pd.read_csv('Grocery_dataset.csv')

# Steg 2: Finner antall rader og kollonner i filen
num_rows, num_columns = Grc_df.shape

print(f"The numnber of row is: {num_rows}")
print(f"The number of columns is: {num_columns}")

The numnber of row is: 5000
The number of columns is: 12

In [4]:
# deloppgave 1, del 2/2:
# Print the first 10 and last 10 rows of Grc_df

print("\nFirst 10 rows of Grc_df:")
Grc_df.head(10)

First 10 rows of Grc_df:

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [5]:
print("\nLast 10 rows og Grc_df:")
Grc_df.tail(10)

Last 10 rows og Grc_df:

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4990,FDE46,18.60,Low Fat,0.015859,Snack Foods,152.9366,OUT017,2007,NaN,Tier 2,Supermarket Type1,453.4098
4991,NCQ53,17.60,Low Fat,0.018905,Health and Hygiene,234.6590,OUT046,1997,Small,Tier 1,Supermarket Type1,8508.9240
4992,NCN42,20.25,Low Fat,0.014281,Household,148.0418,OUT018,2009,Medium,Tier 3,Supermarket Type2,1177.1344
4993,DRH11,5.98,Low Fat,0.075675,Hard Drinks,53.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,331.5684
4994,NCI42,18.75,Low Fat,0.010382,Household,207.8954,OUT049,1999,Medium,Tier 1,Supermarket Type1,2292.3494
4995,FDT07,5.82,Regular,0.077476,Fruits and Vegetables,255.3330,OUT045,2002,NaN,Tier 2,Supermarket Type1,4870.3270
4996,DRL60,8.52,Low Fat,0.027059,Soft Drinks,153.3682,OUT046,1997,Small,Tier 1,Supermarket Type1,914.8092
4997,FDG20,15.50,Regular,0.126200,Fruits and Vegetables,178.4028,OUT018,2009,Medium,Tier 3,Supermarket Type2,1239.7196
4998,FDF56,16.70,Regular,0.119462,Fruits and Vegetables,182.7976,OUT046,1997,Small,Tier 1,Supermarket Type1,1810.9760
4999,FDV33,9.60,Regular,0.027455,Snack Foods,258.1304,OUT018,2009,Medium,Tier 3,Supermarket Type2,2324.9736

Task 2: 

Are there any null values in the Grc_df? If yes, then in which columns and how many? Finally, handle these null values using any strategy shown during the labs.

In [6]:
# Sjekker for null verdier i hver kolonne
null_counts = Grc_df.isnull().sum()

print("Number of null values in each column:")
print(null_counts)

Number of null values in each column:
Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Svar: Ja, det er null verdier i Grc_df DataFrame. De er blitt funnet i f√∏lgene kolonner:

Item_Weight: har 1463 null verdier,
Outlet_Size: har 2410 null verdier

In [7]:
# Strategien vi bruker her er √• flatfylle verdiene med gjennomsnittet
# H√•ndterer null verdiene for 'Item_Weight' ved √• fylle inn gjennomsnittet
mean_Weight = Grc_df['Item_Weight'].mean()
Grc_df['Item_Weight'].fillna(mean_Weight, inplace=True)

# H√•ndterer null verdier for 'Outlet_Size' ved √• fyllle ut med den som er mest brukt
mode_size = Grc_df['Outlet_Size'].mode()[0]
Grc_df['Outlet_Size'].fillna(mode_size, inplace=True)

# Verifiserer om null verdiene har blitt behandlet
print("\nNumber of null values after handling:")
print(Grc_df.isnull().sum())

Number of null values after handling:
Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

C:\Users\Admin\AppData\Local\Temp\ipykernel_9708\246295955.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Item_Weight'].fillna(mean_Weight, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_9708\246295955.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Outlet_Size'].fillna(mode_size, inplace=True)

Task 3:

How many unique Outlet Sizes are there in the Grc_df? 
Which outlet size is maximum, and which is minimum?

In [8]:
# Deloppgave 3, del 1/2:
# How many unique Outlet Sizes are there in the Grc_df? 

# Hent antallene for hver unike verdi i kolonnen 'Outlet_Size'
outlet_size_counts = Grc_df['Outlet_Size'].value_counts()
# print(f"{outlet_size_counts}") # debug print
num_unique_sizes = len(outlet_size_counts)

print(f"There are {num_unique_sizes} unique Outlet Sizes in the DataFrame.")
print("\nHere are the counts for each size:")
print(outlet_size_counts)

There are 3 unique Outlet Sizes in the DataFrame.

Here are the counts for each size:
Outlet_Size
Medium    3044
Small     1398
High       558
Name: count, dtype: int64

In [9]:
# Deloppgave 3, del 2/2:
# How many unique Outlet Sizes are there in the Grc_df? 

# Maksimum er den f√∏rste indeksen i value_counts-serien
max_size = outlet_size_counts.index[0]

# Minimumet er den siste indeksen i value_counts-serien
min_size = outlet_size_counts.index[-1]

print(f"\nThe outlet size with the maximum number of outlets is: '{max_size}'")
print(f"The outlet size with the minimum number of outlets is: '{min_size}'")

The outlet size with the maximum number of outlets is: 'Medium'
The outlet size with the minimum number of outlets is: 'High'

Task 4: 

How many unique Item Fat Content types are in the Grc_df? List them. Do you see any issues with the Item Fat Content types? 
If yes, then handle this issue.

In [10]:
# Oppgave 4: del 1/2 
# How many unique Item Fat Content types are in the Grc_df?

# Henter de unike verdiene og antallene deres for 'Item_Fat_Content'
fat_content_counts = Grc_df['Item_Fat_Content'].value_counts()

print(f"There are {len(fat_content_counts)} unique 'Item Fat Content' types.")
print("\nHere is a list of the types and their counts:")
print(fat_content_counts)

There are 5 unique 'Item Fat Content' types.

Here is a list of the types and their counts:
Item_Fat_Content
Low Fat    3008
Regular    1679
LF          183
reg          68
low fat      62
Name: count, dtype: int64

In [11]:
# Oppgave 4: del 2/2
# Do you see any issues with the Item Fat Content types? 

# Steg 1: Definerer en "ordbok" for erstatningene
replacements = {
    'low fat': 'Low Fat',
    'LF': 'Low Fat',
    'reg': 'Regular'
}

# Steg 2: Bruker .replace() for √• utf√∏re endringer i kolonnen
Grc_df['Item_Fat_Content'].replace(replacements, inplace=True)


# Steg 3: Verifiser at problemet er l√∏st ved √• kj√∏re value_counts() p√• nytt
print("\n'Item Fat Content'-typer etter opprydding:")
print(Grc_df['Item_Fat_Content'].value_counts())

'Item Fat Content'-typer etter opprydding:
Item_Fat_Content
Low Fat    3253
Regular    1747
Name: count, dtype: int64

C:\Users\Admin\AppData\Local\Temp\ipykernel_9708\1465149446.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Item_Fat_Content'].replace(replacements, inplace=True)